/* Hide all scrollbars completely */
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-corner {
  display: none;
}
